 <!DOCTYPE html>
 <html>
 <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 </head>
 <body>
    <div class="conteiner">
      <div class="col">
        <div class="row">
          <div class="col-5">
            <h1>Bienvenidos a mi Onepage</h1>
            <p>Esta pagina funciona catgando elementos con el evento scroll</p>
          </div>
          <div class="col-5">
            <img src="https://img.freepik.com/vector-gratis/lindo-astronauta-sosteniendo-planeta-dibujos-animados-vector-icono-ilustracion-ciencia-tecnologia-icono-aislado_138676-5237.jpg" alt="esto es una imagen" class="img-fluid">
          </div>
        </div>
        <div class="row" id="tarjetas">
          <div class="card col-4">
              <div class="card-body">
                  <h5 class="card-title">Titulo de la tarjeta por defecto</h5>
                  <p class="card-text">
                  Texto por defecto de la tarjeta
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. A repudiandae voluptates dolorum fugiat aliquam odio porro sunt accusantium debitis ullam, accusamus, consectetur necessitatibus error quo doloremque? Esse corporis magni adipisci.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum culpa quasi fuga ut recusandae odio velit doloribus molestiae facilis! Similique, natus. Cumque atque velit ad dolore iste magnam earum suscipit.
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel laboriosam dolore perferendis pariatur commodi molestias sunt ad, fugiat eum ipsa quod id debitis reiciendis ipsam neque, perspiciatis eligendi nam error.  
                  </p>
          </div>
      </div>
      </div>
    </div>


    <script>
      var i =1;

      function loadCards(){
        console.log("Se detecto el final de la pagina");
        
        for(let index = 0; index < 5; index++){
          if(i>100){
            break;
          }

        //Logica de un objeto con propiedades en JS
        var object={
          title:"Cards número: " + i,
          text:"Texto dummy de la card: " + i
        }
        i++;

        //Crear nuestro html con js
        var card = document.createElement("div");
        card.setAttribute("class","card col-4");
        
        var body = document.createElement("div");
        body.setAttribute("class", "card-body");

        var h5 = document.createElement("h5");
        h5.setAttribute("class","card-title");
        h5.innerHTML = object.title;

        var p = document.createElement("p");
        p.setAttribute("class","card-text");
        p.innerHTML = object.text;


        body.appendChild(h5);
        body.appendChild(p);
        card.appendChild(body);

        document.getElementById("tarjetas").appendChild(card);

      }
    }

      window.addEventListener('scroll',()=>{
        if((window.innerHeight + window.scrollY) >= document.body.offsetHeight){
          loadCards();
         
            
        }
      })
    </script>
 </body>
 </html>